@media(max-width:768px)
{
	.header-col1
{
    position: absolute;
    float: none;
    width: 100%;
    top: 25%;
    left:0%;
    text-align: center;
}

.nav-col
{
	float: left;
    width: 75%;
}

.header-col2
{
    float: none;
    background: url(../img/banner.jpg) no-repeat center center/cover;
    height: 100vh;
    width: 100%;
}
.header-col1 h2
{
    color: red;
    font-size: 30px;
    line-height: 50px;
    margin: 0px ;
}
.header-col1 h5
{
    color: red;
    font-size: 15px;
}
.header-col1 p
{
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    margin:0;
    color: red;
    padding: 10px;
}
 .logo 
{
	padding-left: 54% ;
	float: left; 
	width: 100%;
	
}

.menu ul {
    list-style: none;
    margin-left: 55%;
	padding-bottom: 10px;
}
.menu
{
    margin-top: 15px;
    float: none;
    width: 100%;
	color: #0B2C3D;
}
.menu li
{
	display: block;
	padding-bottom: 10px;
}
.menu, .active 
{
	display: inline-block;
	padding-left: 20%;
}
.menu span
{
	
	/*padding-top: 10px;*/
	display: block;
	margin-left: 63%;
	padding-bottom: 0px;
}
.menu a {
    padding: 15px;
}
.fas 
{
	padding-bottom: 0;
	font-size: 20px;
	padding-bottom: 5px;
}

.mid
{display:none;
}
.cnt-info-col
{
	display: none;
    float:none;
    width:15%;
}
button.common-btn
{
    background: orangered;
    padding: 13px 25px;
    color: #fff;
   font-size: 12px;
}
.common-h2
{
    color: #0B2C3D;
    font-size: 19px;
    line-height: 25px;
    padding: 0 50px;
}
.faeture-col-par
{
    background: #fcfcfc;
    padding: 30px 10px;
    margin-top: 15px;
}
.feature-col
{
    float: none;
    width:100%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 30px;
    box-shadow: 2px 2px 10px #fefefe;
    transition: 0.2s;
    border-radius: 13px;
    text-align: center;
    height: 265px;
    margin-bottom: 20px;
}
.feature-col img
{
    width: 80px;
    height: 80px;
    margin: 20px auto;
}
.why-choose-us
{
    margin-top: 0px;
}
.why-choose-col
{
    float: none;
    width: 100%;
    text-align: center;
	padding-top: 60px;
}
.count-col
{
    float:none;
    width: 100%;
}
.why-choose-col p
{
    padding: 5px ;
}
.milestone-counter
{
    margin: 10px;
}
.stat
{
    float: left;
    width: 32%;
}
.stat-info-par
{
    float: right;
    width: 68%;
}
.stat-info-sub-par
{
    margin: 10px 0 10px;
}
.highlight
{
    font-size: 25px;
}
.highlight::after
{
    content: "+";
    color: orangered;
    position: absolute;
    top: 4px;
    right: 79px;
    font-size: 23px;
}
.blog-col
{
	float: none;
	width: 100%;
	margin-left: 0%;
	margin-top: 45px;
    text-align: center;
}
section .blog
{
	margin: 30px 0px;
}
.contact
{
	background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/slide2.jpg)no-repeat center center/cover;
	padding: 60px 0px;
}
.form-par
{
	background: lightgrey;
	padding: 30px 40px;
	width: 90%;
	margin: 0 auto;
	opacity: 0.7;
}
.footer-col
{
	float: none;
	width: 100%;
	margin-right: 0%;
	margin-top: 45px;
    text-align: center;
}
.footer-col
{
    position: relative;
	left: 0px;
}
.footer-col p
{
    text-align: center;
}
.footer-col2
{
	position: relative;
	left: 0;
}
hr.footer-hr
{
    margin: 30px 0px 0px;
}
.swipe{
	text-align: center;
	float: none;
	position: relative;
	padding: 30px 0;
	background: #fcfcfd;
	z-index: 1;
	width: 100%;
}
.swipe{
	text-align: center;
	float: none;
	position: relative;
	padding: 30px 0;
	background: #fcfcfd;
	z-index: 1;
	width: 100%;
}
.section-title{
	float: none;
	position: relative;
	width: 100%;
	padding-bottom: 40px; 
	margin-top: 40px;
}
.section-title p{
	color: #0B2C3D;
	font-size: 13px;
	line-height: 20px;
	max-width: 550px;
	margin: 0 auto;
}
.section-title h2 {
	float: none;
	width: 100%;
	text-align: center;
	color: #0B2C3D;
	font-size: 34px;
	font-weight: 800;
	position: relative;
}
.section-separator {
	width: 100%;
	position: relative;
	margin: 20px 0;
}
.section-separator:before{
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	height: 3px;
	width: 50px;
	border-radius: 3px;
	z-index: 2;
	background-color: #0B2C3D;
	margin-left: -25px;
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.listing-carousel-button{
	position: absolute;
	top: 50%;
	width: 80px;
	height: 50px;
	line-height: 50px;
	margin-top: -25px;
	z-index: 100;
	cursor: pointer;
	background: #0B2C3D;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.45);
	transition: all 200ms linear;
	outline: none;
}
.listing-carousel-button.listing-carousel-button-next{
	
	display: none;
}
.listing-carousel-button.listing-carousel-button-prev{
	
	display: none;
}
.listing-carousel-button.listing-carousel-button-next:hover{
	display: none;
}
.listing-carousel-button.listing-carousel-button-prev:hover{
	display: none;
}
.cleft
{
	float: none;
	width: 100%;
	margin-bottom: 40px;
}
.cright
{
	float: none;
	width: 100%;
}

}
